<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<table>
  <thead>
    <tr>
      <th>Message body</th>
      <th>Message type</th>
      <th>Conversation</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="conversation-<%= @conversation.id %>">
    <%= render partial: "message", collection: @messages %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_job_conversation_message_path %>
