<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading">
      <% if user_signed_in? %>
          <% if current_user.role_id == User::ROLES[:employee] %>
              <h1 ng-if="name">Welcome to Employees portal</h1>
          <% else %>
              <h1 ng-if="name">Welcome to Employer's portal</h1>
          <%end%>
      <% end %>
    </div>
    <div class="panel-body">
      <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
          </li>
      <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
      <% end %>
    </div>
  </div>
</div>